# Local notebooks for development purposes only
examples

# Don't commit my secrets
.env

# other stuff I don't need
.DS_Store
repomix-output.txt
repomix-output.xml
*.log
**/__pycache__/*
*.egg-info/*